.btn {
    background-color: $bg-purple;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s;
    padding: 8px 20px !important;
    border: 0;
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: $accent-color-hover;
    }
    &-login {
        border-radius: 30px;
        transition: transform 0.5s;
        box-shadow: 0px 0px 0px 0px $accent-color;
        &:hover {
            background-color: $accent-color;
            transform: translateY(-5px);
            box-shadow: 0px 5px 0px 0px $accent-color-hover;
        }
        &:active {
            transform: translateY(5px);
            box-shadow: 0px 0px 0px 0px $accent-color;
        }
    }
    &-radius {
        border-radius: 30px;
    }
    &-add {
        display: block;
        text-align: center;
        width: 212px;
        white-space: nowrap;
        margin-top: 10px;
        transform: all 1s;
    }
}
