.btn {
    background-color: $accent-color;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    padding: 8px 20px;
    border: 0;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:active {
        background-color: $accent-color-hover;
    }
    &_modal-submit {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
    }
}
