$accent-color: #4828d6;
$accent-color-hover: #3e23b6;
$gray-light: #e2e2e2;
$gray-dark: #868686;
$bg-dark: #020d19;
$bg-light: #233a50;
$header-links: #abb7c4;
$header-links-hover: #dcf836;
$bg-purple: #dd003f;
