.hamburger {
    position: relative;
    height: 9px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    z-index: 102;
    &__line {
        display: block;
        width: 20px;
        height: 1px;
        background: $header-links;
        transition: all 0.3s;
    }
    &_active {
        .hamburger__line:nth-child(1) {
            width: 22px;
            transform: rotate(45deg) translateY(6px);
        }
        .hamburger__line:nth-child(2) {
            display: none;
        }
        .hamburger__line:nth-child(3) {
            width: 22px;
            transform: rotate(-45deg) translateY(-6px);
        }
    }
}
