.main {
    min-height: 100vh;
    // padding: 0px 0 50px 0;
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: $bg-dark;
    position: relative;
    background: url("../img/bg-main.jpg") top center/contain;
    background-color: #020d19da;
    background-repeat: repeat;
    background-blend-mode: overlay;
    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0px;
        background: url("../img/bg-main.jpg") top center/cover;
        background-repeat: repeat-y;
        opacity: 0.2;
        z-index: 0;
    }
    &__header {
        position: relative;
        font-size: 30px;
        font-weight: 500;
        z-index: 10;
        color: #fff;
    }
    &__descr {
        position: relative;
        margin-top: 20px;
        font-weight: 500;
        width: 100%;
        color: #fff;
        font-size: 18px;
        z-index: 10;
        &-links {
            margin-top: 10px;
            display: flex;
            gap: 15px;
        }
        &-link {
            height: 40px;
            width: 40px;
            transition: all 0.5s;
            img {
                height: 100%;
                width: 100%;
            }
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
        gap: 20px;
    }
    &__genres {
        position: relative;
        align-self: flex-start;
        z-index: 10;
        display: none;
        background-color: $bg-light;
        min-width: 260px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            li {
                a {
                    padding: 5px 0px;
                    color: $header-links;
                    transition: all 0.3s;
                    &:hover {
                        color: $header-links-hover;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &__movies {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 260px);
        gap: 22px;
        justify-content: center;
    }
    &__item {
        position: relative;
        height: 380px;
        min-width: 260px;
        background-color: #000;
        border: 1px solid $gray-dark;
        font-weight: 700;
        color: #fff;
        transition: all 0.5s;
        overflow: hidden;
        cursor: pointer;
        &-header,
        &-genres,
        &-rate {
            opacity: 0;
            z-index: 5;
            transition: all 0.5s;
        }
        &-header {
            width: 90%;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            top: 5px;
            left: 10px;
        }
        &-genres {
            position: absolute;
            width: 90%;
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            bottom: 35px;
            left: 10px;
            font-weight: 400;
            font-size: 13px;
            line-height: 13px;
        }
        &-genre {
            position: relative;
            color: #fff;
            padding: 4px 10px;
            background-color: $gray-dark;
            border-radius: 5px;
            &:hover {
                color: $header-links-hover;
                text-decoration: none;
            }
        }
        &-rate {
            font-size: 16px;
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: gold;
        }
        &-image {
            height: 100%;
            width: 100%;
            transition: all 0.5s;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:hover {
            .main__item-header,
            .main__item-genres,
            .main__item-rate {
                opacity: 1;
            }
            .main__item-image {
                opacity: 0.3;
            }
        }
    }
    &__credits {
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 10px;
        color: #fff;
        font-size: 9px;
    }
}
.up {
    position: fixed;
    height: 50px;
    width: 50px;
    right: 25px;
    bottom: 40px;
    z-index: 150;
    cursor: pointer;
    display: none;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &_show {
        display: block;
    }
}
