.main {
    padding: 50px 0;
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 210px);
        gap: 22px;
        justify-content: center;
    }
    &__item {
        position: relative;
        height: 300px;
        width: 210px;
        background-color: $gray-light;
        border: 1px solid $gray-dark;
        font-weight: 700;
        color: #fff;
        transition: all 0.5s;
        &-header,
        &-rate {
            opacity: 0;
            transition: all 0.5s;
        }
        &-header {
            font-size: 24px;
            position: absolute;
            top: 5px;
            left: 10px;
        }
        &-rate {
            font-size: 16px;
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: gold;
        }
        &:hover {
            box-shadow: inset 0px 0px 55px 5px rgba(0, 0, 0, 0.3);
            .main__item-header,
            .main__item-rate {
                opacity: 1;
            }
        }
    }
}
