.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 35px 70px 35px;
    min-height: 200px;
    width: 600px;
    font-size: 14px;
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 11;
    &__wrapper {
        overflow-y: scroll;
        min-height: 60px;
        max-height: 60vh;
    }
    &__header {
        font-size: 16px;
        font-weight: 700;
        position: fixed;
        top: 20px;
        left: 35px;
        width: 100%;
        padding-bottom: 10px;
    }
    &__close {
        position: absolute;
        top: -10px;
        right: 55px;
        font-size: 40px;
        line-height: 40px;
        color: $accent-color;
        &:hover {
            color: $accent-color-hover;
            text-decoration: none;
        }
    }
    &__footer {
        position: fixed;
        width: 100%;
        bottom: 20px;
        left: 0;
        text-align: center;
        padding-top: 5px;
    }
    &_active {
        display: block;
        opacity: 1;
    }
    &-add {
        &__table {
            margin-top: 15px;
        }
        &__item {
            display: grid;
            grid-template-columns: 10px 1fr 40px;
            grid-template-rows: 30px;
            gap: 10px;
            align-items: stretch;
            margin-bottom: 10px;
            div {
                align-self: center;
            }
            input {
                padding: 0px 10px;
            }
        }
        &__add-item {
            display: inline-block;
        }
    }
}
