.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 50px 35px 50px 35px;
    min-height: 200px;
    width: 600px;
    font-size: 14px;
    opacity: 0;
    transform-origin: center center;
    border-radius: 20px;
    transition: all 0.5s;
    z-index: -1;
    &_active {
        z-index: 101;
        opacity: 1;
    }
    &__movie {
        position: fixed;
        overflow-y: auto;
        top: 10%;
        left: 10%;
        width: 80vw;
        height: 80vh;
        transform: scale(0);
        &.modal_active {
            transform: scale(1);
        }
        .wrapper {
            display: flex;
            gap: 40px;
            height: 100%;
            width: 100%;
            .poster {
                height: auto;
                min-width: 30%;
                // max-width: 30%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .text {
                width: 70%;
                .header {
                    margin: 0;
                    padding: 0;
                    background: transparent;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 45px;
                }
                .info {
                    margin-top: 10px;
                    .rate {
                        font-weight: 700;
                    }
                    .genres {
                        font-weight: 700;
                        span {
                            font-weight: 400;
                        }
                    }
                }
                .descr {
                    margin-top: 10px;
                    margin-bottom: 35px;
                }
            }
        }
    }
    &__login {
        top: 50%;
        left: 50%;
        height: 320px;
        width: 300px;
        transform: translate(-50%, -50%) scale(0);
        &.modal_active {
            transform: translate(-50%, -50%) scale(1);
        }
        .header {
            margin: 0;
            padding: 0;
            background: transparent;
            font-weight: 700;
            font-size: 20px;
            text-align: center;
        }
        form {
            margin-top: 20px;
            input {
                margin-bottom: 20px;
                width: 100%;
                height: 40px;
                padding: 0px 15px;
                border-radius: 20px;
                border: 1px solid $bg-dark;
                outline: none;
            }
            button {
                display: block;
                margin: 0 auto;
                outline: none;
            }
        }
    }
    &__close {
        position: fixed;
        top: 10px;
        right: 20px;
        font-size: 60px;
        line-height: 40px;
        color: $accent-color;
        &:hover {
            color: $accent-color-hover;
            text-decoration: none;
        }
    }
}
