@import "libs/bootstrap-reboot.min";
@import "base/variables";
@import "base/mixins";
@import "base/buttons";
// @import "libs/normalize";

html {
    background: url("../img/bg-main.jpg") top center/cover, #020d19;
    background-repeat: repeat-y;
    background-blend-mode: color;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgba(0, 0, 0, 0.7);
    &.noscroll {
        overflow: hidden;
    }
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/preloader";
@import "blocks/overlay";
@import "blocks/header";
@import "blocks/hamburger";
@import "blocks/main";
@import "blocks/modals";
@import "base/media";
